.u-section-1 .u-sheet-1 {
  min-height: 1125px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 50px 0 0;
  font-size: 2rem;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  margin: 20px 0 60px;
  line-height: 1.6;
  max-width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    max-width: 540px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    max-width: 100%;
    padding: 0 15px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 167px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}