.u-section-1 .u-sheet-1 {
  min-height: 3626px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 125px;
  left: 397px;
  height: 3365px;
  transform-origin: center bottom;
}

.u-section-1 .u-tabs-1 {
  min-height: 3526px;
  margin-bottom: 50px;
  height: auto;
  margin-top: 50px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 241px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px 119px 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 241px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 246px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 4px;
}

.u-section-1 .u-image-2 {
  width: 139px;
  height: 139px;
  object-position: 50% 11.86%;
  margin: 10px 119px 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 271px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-3 {
  width: 912px;
  margin: -1px auto 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 271px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 4px;
}

.u-section-1 .u-image-3 {
  width: 139px;
  height: 139px;
  object-position: 50% 11.86%;
  margin: 10px 119px 0;
}

.u-section-1 .u-text-5 {
  background-image: none;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 271px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0 5px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-4 {
  width: 912px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 250px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-1 .u-image-4 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-5 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-5 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 302px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-image-5 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-9 {
  background-image: none;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-6 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-6 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 250px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-1 .u-image-6 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-11 {
  background-image: none;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-7 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-7 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 286px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 30px;
}

.u-section-1 .u-image-7 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-13 {
  background-image: none;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-8 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-8 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 301px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 30px;
}

.u-section-1 .u-image-8 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-15 {
  background-image: none;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 301px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-9 {
  width: 912px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-9 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-17 {
  min-height: 274px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 30px;
}

.u-section-1 .u-image-9 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-17 {
  background-image: none;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-18 {
  min-height: 274px;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-10 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-10 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-19 {
  min-height: 287px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 30px;
}

.u-section-1 .u-image-10 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-19 {
  background-image: none;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-20 {
  min-height: 287px;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px 0;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-11 {
  width: 912px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-11 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-21 {
  min-height: 274px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 30px;
}

.u-section-1 .u-image-11 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-21 {
  background-image: none;
  margin: 11px auto 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-22 {
  min-height: 274px;
}

.u-section-1 .u-container-layout-23 {
  padding: 10px 0;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 30px 0;
}

.u-section-1 .u-layout-wrap-12 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-23 {
  min-height: 241px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-25 {
  padding: 0 30px;
}

.u-section-1 .u-image-12 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-23 {
  background-image: none;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-24 {
  min-height: 241px;
}

.u-section-1 .u-container-layout-26 {
  padding: 10px 0;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-27 {
  padding: 30px 0;
}

.u-section-1 .u-layout-wrap-13 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-25 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-28 {
  padding: 0 30px;
}

.u-section-1 .u-image-13 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-25 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  border-style: solid;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-26 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-29 {
  padding: 10px 0 1px;
}

.u-section-1 .u-text-26 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-12 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-14 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-27 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-30 {
  padding: 0 30px;
}

.u-section-1 .u-image-14 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-27 {
  background-image: none;
  font-weight: 600;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  border-style: solid;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-28 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-31 {
  padding: 9px 0;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-line-13 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-15 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-29 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-32 {
  padding: 0 30px;
}

.u-section-1 .u-image-15 {
  width: 139px;
  height: 139px;
  object-position: 50% 16.17%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-29 {
  background-image: none;
  font-weight: 600;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  border-style: solid;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-30 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-33 {
  padding: 9px 0;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-line-14 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-16 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-31 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-34 {
  padding: 0 30px;
}

.u-section-1 .u-image-16 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-31 {
  background-image: none;
  font-weight: 600;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  border-style: solid;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-32 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-35 {
  padding: 9px 0;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-line-15 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-17 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-33 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-36 {
  padding: 0 30px;
}

.u-section-1 .u-image-17 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-33 {
  background-image: none;
  font-weight: 600;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-34 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-37 {
  padding: 9px 0;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-line-16 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-18 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-35 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-38 {
  padding: 0 30px;
}

.u-section-1 .u-image-18 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-35 {
  background-image: none;
  font-weight: 600;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  border-style: solid;
  margin: 1px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-36 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-39 {
  padding: 9px 0;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-line-17 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-19 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-37 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-40 {
  padding: 0 30px;
}

.u-section-1 .u-image-19 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-37 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-38 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-41 {
  padding: 9px 0;
}

.u-section-1 .u-text-38 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-line-18 {
  width: 912px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-20 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-39 {
  min-height: 225px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-42 {
  padding: 0 30px;
}

.u-section-1 .u-image-20 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-39 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-40 {
  min-height: 225px;
}

.u-section-1 .u-container-layout-43 {
  padding: 9px 0;
}

.u-section-1 .u-text-40 {
  font-size: 1rem;
  margin: 24px 114px 0 10px;
}

.u-section-1 .u-container-layout-44 {
  padding: 21px 0;
}

.u-section-1 .u-layout-wrap-21 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-41 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-45 {
  padding: 0 30px;
}

.u-section-1 .u-image-21 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-41 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-42 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-46 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-42 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-19 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-22 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-43 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-47 {
  padding: 0 30px;
}

.u-section-1 .u-image-22 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-43 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-44 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-48 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-44 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-20 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-23 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-45 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-49 {
  padding: 0 30px;
}

.u-section-1 .u-image-23 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-45 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-46 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-50 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-46 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-21 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-24 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-47 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-51 {
  padding: 0 30px;
}

.u-section-1 .u-image-24 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-47 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-48 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-52 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-48 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-22 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-25 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-49 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-53 {
  padding: 0 30px;
}

.u-section-1 .u-image-25 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-49 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-50 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-54 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-50 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-23 {
  width: 912px;
  height: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-26 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-51 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-55 {
  padding: 0 30px;
}

.u-section-1 .u-image-26 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-51 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-52 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-56 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-52 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

.u-section-1 .u-line-24 {
  width: 912px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-wrap-27 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-53 {
  min-height: 267px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-57 {
  padding: 0 30px;
}

.u-section-1 .u-image-27 {
  width: 139px;
  height: 139px;
  object-position: 50% 14.58%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-53 {
  background-image: none;
  font-weight: 600;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-54 {
  min-height: 267px;
}

.u-section-1 .u-container-layout-58 {
  padding: 10px 0 0;
}

.u-section-1 .u-text-54 {
  font-size: 1rem;
  margin: 0 114px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    transform-origin: center top;
    left: 334px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 81px;
    margin-right: 81px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 81px;
    margin-right: 81px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 223px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 81px;
    margin-right: 81px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 223px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 206px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 206px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 249px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 206px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 206px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 206px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 236px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 236px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 248px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-9 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 226px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 226px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 237px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 237px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-11 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-21 {
    min-height: 226px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 226px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 199px;
  }

  .u-section-1 .u-layout-cell-24 {
    min-height: 199px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-25 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-26 {
    min-height: 220px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-27 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-28 {
    min-height: 186px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-29 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-30 {
    min-height: 186px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-31 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-32 {
    min-height: 186px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-33 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-34 {
    min-height: 186px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-35 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-36 {
    min-height: 186px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-37 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-38 {
    min-height: 186px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-39 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-40 {
    min-height: 186px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-41 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-42 {
    min-height: 220px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-43 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-44 {
    min-height: 220px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-45 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-46 {
    min-height: 220px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-47 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-48 {
    min-height: 220px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-49 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-50 {
    min-height: 220px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-51 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-52 {
    min-height: 220px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-line-24 {
    margin-top: -92px;
  }

  .u-section-1 .u-layout-wrap-27 {
    margin-top: 112px;
  }

  .u-section-1 .u-layout-cell-53 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-54 {
    min-height: 220px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 1px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    left: 259px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-top: 7px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-line-6 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-line-7 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-line-8 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-line-9 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-9 {
    margin-top: 36px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-line-10 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-10 {
    margin-top: 6px;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-line-11 {
    width: 720px;
    margin-top: 6px;
  }

  .u-section-1 .u-layout-wrap-11 {
    margin-bottom: -2px;
  }

  .u-section-1 .u-layout-cell-21 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-22 {
    min-height: 100px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-23 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-24 {
    min-height: 100px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-25 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-26 {
    min-height: 100px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-line-12 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-27 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-28 {
    min-height: 100px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-line-13 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-29 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-30 {
    min-height: 100px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-line-14 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-16 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-31 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-32 {
    min-height: 100px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
  }

  .u-section-1 .u-line-15 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-33 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-34 {
    min-height: 100px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
  }

  .u-section-1 .u-line-16 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-35 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-36 {
    min-height: 100px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
  }

  .u-section-1 .u-line-17 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-37 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-38 {
    min-height: 100px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
  }

  .u-section-1 .u-line-18 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-39 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-40 {
    min-height: 100px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-41 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-42 {
    min-height: 100px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
  }

  .u-section-1 .u-line-19 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-43 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-44 {
    min-height: 100px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
  }

  .u-section-1 .u-line-20 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-45 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-46 {
    min-height: 100px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
  }

  .u-section-1 .u-line-21 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-47 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-48 {
    min-height: 100px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
  }

  .u-section-1 .u-line-22 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-25 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-49 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-50 {
    min-height: 100px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
  }

  .u-section-1 .u-line-23 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-51 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-52 {
    min-height: 100px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
  }

  .u-section-1 .u-line-24 {
    width: 720px;
    margin-top: 10px;
  }

  .u-section-1 .u-layout-wrap-27 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-53 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-54 {
    min-height: 100px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tab-link-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-tab-link-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-top: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 237px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 237px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-6 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-7 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-8 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-9 {
    margin-top: 10px;
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-9 {
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-10 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-10 {
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-11 {
    margin-top: 11px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 0;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-12 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-13 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-14 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-34 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-15 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-36 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-16 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-38 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-17 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-40 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-18 {
    width: 540px;
    margin-top: 233px;
  }

  .u-section-1 .u-layout-wrap-20 {
    margin-top: -210px;
  }

  .u-section-1 .u-container-layout-42 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-45 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-19 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-47 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-20 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-49 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-21 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-51 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-53 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-23 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-55 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-24 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-27 {
    margin-top: 188px;
  }

  .u-section-1 .u-container-layout-57 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 6978px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }

  .u-section-1 .u-line-7 {
    width: 340px;
  }

  .u-section-1 .u-line-8 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-8 {
    margin-top: 9px;
  }

  .u-section-1 .u-line-9 {
    width: 340px;
  }

  .u-section-1 .u-line-10 {
    width: 340px;
  }

  .u-section-1 .u-line-11 {
    margin-top: 10px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-11 {
    margin-bottom: -257px;
  }

  .u-section-1 .u-line-12 {
    width: 340px;
  }

  .u-section-1 .u-line-13 {
    width: 340px;
  }

  .u-section-1 .u-line-14 {
    width: 340px;
  }

  .u-section-1 .u-line-15 {
    width: 340px;
  }

  .u-section-1 .u-line-16 {
    width: 340px;
  }

  .u-section-1 .u-line-17 {
    width: 340px;
  }

  .u-section-1 .u-line-18 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-1 .u-layout-wrap-20 {
    margin-top: 10px;
  }

  .u-section-1 .u-line-19 {
    width: 340px;
  }

  .u-section-1 .u-line-20 {
    width: 340px;
  }

  .u-section-1 .u-line-21 {
    width: 340px;
  }

  .u-section-1 .u-line-23 {
    width: 340px;
  }

  .u-section-1 .u-line-24 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-27 {
    margin-top: 213px;
  }
}